Welcome to the project of customer data

Let us import required packages

In [36]:
import pandas as pd
import numpy as np
import csv
import datetime

Now read data from github repository and order customer id in descending order

In [44]:
df= pd.read_csv('https://raw.githubusercontent.com/jaanu/Screening_test/master/screening_exercise_orders_v201810.csv')
df=df.sort_values(["customer_id"], ascending= False)
df.head(10)

       customer_id  gender                 date   value  predicted_gender
13469         9813       0  2017-12-31 23:11:02  534.00                 1
13468         9812       0  2017-12-31 23:01:10  153.00                 1
13467         9811       1  2017-12-31 22:24:06  148.60                 0
13466         9810       1  2017-12-31 22:16:20  794.44                 0
13465         9809       1  2017-12-31 21:39:33  606.40                 1
13464         9808       1  2017-12-31 21:39:27  222.76                 0
13463         9807       0  2017-12-31 21:24:08  237.35                 0
13462         9806       1  2017-12-31 21:08:36  375.40                 1
13459         9805       1  2017-12-31 20:07:35  194.71                 1
13458         9804       0  2017-12-31 19:49:44  162.60                 0

In [45]:
df["date"]= pd.to_datetime(df["date"])

In [46]:
df["week_number"]=df["date"].dt.week
df["Year"]= df["date"].dt.year
df

,customer_id,gender,date,value,predicted_gender,week_number,Year
13469,9813,0,2017-12-31 23:11:02,534.00,1,52,2017
13468,9812,0,2017-12-31 23:01:10,153.00,1,52,2017
13467,9811,1,2017-12-31 22:24:06,148.60,0,52,2017
13466,9810,1,2017-12-31 22:16:20,794.44,0,52,2017
13465,9809,1,2017-12-31 21:39:33,606.40,1,52,2017
13464,9808,1,2017-12-31 21:39:27,222.76,0,52,2017
13463,9807,0,2017-12-31 21:24:08,237.35,0,52,2017
13462,9806,1,2017-12-31 21:08:36,375.40,1,52,2017
13459,9805,1,2017-12-31 20:07:35,194.71,1,52,2017
13458,9804,0,2017-12-31 19:49:44,162.60,0,52,2017
13457,9803,0,2017-12-31 18:57:12,124.00,1,52,2017
13456,9802,1,2017-12-31 18:55:09,68.00,1,52,2017
13455,9801,0,2017-12-31 18:53:32,215.58,1,52,2017
13453,9800,1,2017-12-31 18:33:23,185.14,1,52,2017
13452,9799,1,2017-12-31 18:20:50,489.40,1,52,2017
13451,9798,1,2017-12-31 17:36:37,482.14,0,52,2017
13449,9797,0,2017-12-31 16:36:34,384.40,0,52,2017
13448,9796,0,2017-12-31 16:19:48,2392.52,0,52,2017
13446,9795,1,2017-12-31 15:42:08,810.03,1,52,2017
13444,9794,1,2017-12-31 15:13:51,148.60,1,52,2017
13443,9793,0,2017-12-31 14:18:10,293.20,1,52,2017
13442,9792,1,2017-12-31 12:50:05,150.00,1,52,2017
13441,9791,1,2017-12-31 07:29:37,618.40,1,52,2017
13439,9790,0,2017-12-31 03:15:10,364.00,1,52,2017
13438,9789,1,2017-12-31 02:13:42,397.28,1,52,2017
13436,9788,1,2017-12-31 00:26:48,174.60,1,52,2017
13435,9787,1,2017-12-30 23:53:08,674.00,0,52,2017
13433,9786,1,2017-12-30 21:36:03,594.80,1,52,2017
13432,9785,1,2017-12-30 21:12:58,131.30,1,52,2017
13431,9784,0,2017-12-30 20:38:45,288.60,1,52,2017
...,...,...,...,...,...,...,...
15,1015,0,2017-01-02 01:20:53,255.00,0,1,2017
3160,1015,0,2017-03-27 02:48:08,446.00,0,13,2017
1147,1015,0,2017-01-31 19:39:26,30.00,0,5,2017
9954,1015,0,2017-09-21 19:58:04,464.00,0,38,2017
14,1014,1,2017-01-02 00:28:42,98.50,1,1,2017
13,1013,0,2017-01-01 23:51:58,78.00,0,52,2017
12,1012,1,2017-01-01 22:08:16,151.00,0,52,2017
11,1011,1,2017-01-01 22:04:54,596.00,1,52,2017
10,1010,1,2017-01-01 19:41:40,1018.00,1,52,2017
4385,1010,1,2017-04-28 13:31:11,822.00,1,17,2017
9,1009,1,2017-01-01 19:27:17,283.00,1,52,2017
8,1008,0,2017-01-01 18:01:04,207.99,0,52,2017
12991,1008,0,2017-12-17 05:47:48,219.60,0,50,2017
57,1008,0,2017-01-03 19:23:39,121.98,0,1,2017
7,1007,0,2017-01-01 15:59:50,168.00,0,52,2017
6,1006,1,2017-01-01 15:42:57,1526.43,1,52,2017
4798,1006,1,2017-05-09 15:27:20,1012.54,1,19,2017
2502,1006,1,2017-03-09 00:31:51,2397.43,1,10,2017
12953,1005,1,2017-12-16 01:39:27,120.60,0,50,2017
5,1005,1,2017-01-01 10:08:05,338.00,0,52,2017
4,1004,0,2017-01-01 03:11:54,508.00,1,52,2017
3,1003,1,2017-01-01 01:34:22,772.00,1,52,2017
4292,1003,1,2017-04-25 09:54:54,0.00,1,17,2017
4323,1003,1,2017-04-26 02:37:20,704.00,1,17,2017
676,1003,1,2017-01-20 05:56:10,425.50,1,3,2017
1742,1002,1,2017-02-19 21:35:31,176.00,1,7,2017
928,1002,1,2017-01-23 04:33:38,148.60,1,4,2017
2,1002,1,2017-01-01 01:30:31,733.00,1,52,2017
1,1001,0,2017-01-01 00:29:56,338.00,1,52,2017
0,1000,0,2017-01-01 00:11:31,198.50,1,52,2017

In [61]:
df.groupby(['week_number'])['value'].count()

week_number
1     180
2     264
3     405
4     233
5     211
6     195
7     248
8     315
9     260
10    318
11    269
12    240
13    237
14    350
15    284
16    220
17    223
18    257
19    337
20    627
21    301
22    215
23    219
24    310
25    276
26    380
27    286
28    226
29    244
30    188
31    183
32    192
33    178
34    302
35    200
36    218
37    237
38    172
39    201
40    347
41    345
42    182
43    154
44    159
45    170
46    183
47    391
48    343
49    236
50    294
51    208
52    258
Name: value, dtype: int64